doctype html
html(class=theme, data-fetchtime=duration)
    include /wrapper/head
    body(data-fs-background="/assets/guides/destiny2/votd/Hero.png")
        header 
           include /body/navigation
        main
            div(class="flex flex-wrap justify-evenly")
                div(class="flex-auto basis-full relative top-0 left-0 hero bg-[url('/assets/guides/destiny2/votd/Hero.jpg')] bg-cover bg-center min-h-[35rem] flex flex-col items-center justify-center border-b-8 border-solid border-cyan-400 shadow-[0px_.3rem_1rem_2px_rgba(0,0,0,0.4)]")
                    h2(class="drop-shadow text-6xl text-yellow-400 font-headline font-bold uppercase tracking-widest text-center") 
                        span(class="pb-2 block") Vow of the Disciple
                        div(class="border-b-yellow-400 border-b-2")
                        span(class="text-3xl pt-2 block") Raid Guide / Walkthrough
            div(class="container mx-auto flex flex-wrap justify-between relative top-0 guide py-8")
                div(class="expanded group shadow-[0px_.4rem_0rem_1px_rgba(0,0,0,0.4)] flex-[1_1_auto] lg:flex-[0_1_30%] table-of-contents sticky top-0 self-start z-[9999] transition-all duration-300 ease-in-out  dark:bg-slate-900 border-2 border-solid  dark:border-cyan-900 hover:dark:border-cyan-400  hover:border-gray-400 border-gray-200 bg-white  rounded-xl  rounded-t-none")
                    h2(class="transition-all duration-300 ease-in-out px-4 py-2 dark:bg-slate-900 border-b-2 border-solid  dark:border-cyan-900 dark:group-hover:border-cyan-400  group-hover:border-gray-400 border-gray-200") 
                        button(type="button" class="inline-block text-left  w-full collapse-toggle top-collapse align-middle") 
                            span Table of Contents 
                            i(class="fas fa-angle-double-right float-right align-middle relative top-1 ")
                            div(class="clear-both")
                    nav(aria-label="Table of Contents")
                        ol(data-level="1")
                            each encounter, encounterID in guide.encounters
                                li(class="mb-2")
                                    a(href="#" + encounter.id, target="_self", class="hover:underline active:underline text-base") #{encounter.title}
                                    button(class="float-right inline-block w-auto collapse-toggle", type="button")
                                        i(class="fas fa-angle-double-right")
                                    nav(aria-label=encounter.title + " Sections")
                                        ol(data-level="2")
                                            each section, sectionID in encounter.sections 
                                                li(class=" mb-1 hover:cursor-default")
                                                    a(href="#" + section.id, target="_self", class="hover:underline text-sm") #{section.title}

                div(id="slides" class="flex-[1_1_auto] lg:flex-[0_1_65%]  relative top-0 self-start guide-content")
                    each encounter, encounterID in guide.encounters
                        article(class="slide px-4", data-id=encounterID)
                            h2(class="text-3xl underline font-bold uppercase font-sans", id=encounterID) #{encounter.title} 
                            each section, sectionID in encounter.sections 
                                section(data-id=sectionID)
                                    h3(class="text-xl underline uppercase font-bold font-sans", id=sectionID) #{section.title}
                                    //- p #{section.content}
                                    | !{section.contentHtml}

                             

                        
                    
        include /wrapper/footer