head 

    //- any meta tags here
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")

    //- favicon support
    link(rel="icon", type="image/svg+xml", href="/favicon.svg")
    link(rel="apple-touch-icon",sizes="180x180",href="/apple-touch-icon.png")

    //- setup page title
    title #{title}

    //- adobe typekit font support
    link(rel="stylesheet", href="https://use.typekit.net/pfr8gmr.css")

    //- font awesome support
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    
    //- tailwind support
    link(rel="stylesheet", href="/assets/css/tailwind.css?cb=2")


    //- polyfills
    script(src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.3.6/smoothscroll.min.js", integrity="sha512-sgreoYznNI4R5ZZrjA2UdKdWWooRqepqS4v2i/H9QvQSR5ITHmKsrw/lskKo3Pn5bWcbjLSL0gC1QXldPtlArg==", crossorigin="anonymous", referrerpolicy="no-referrer")


    //- ENV output 
    script(type="text/javascript").
        var ENV = {
            hosts: {
                api: "#{hosts.api}",
                login: "#{hosts.login}",
                frontend: "#{hosts.frontend}"
            },
            api: {
                application: "#{application}"
            }
        }

    
    

